<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384783753847-b3gluu3enl4bimd03tjfqg6ni2vtel75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384783753847-b3gluu3enl4bimd03tjfqg6ni2vtel75</string>
	<key>API_KEY</key>
	<string>AIzaSyC_nItOMC6MkC8-ILEH4enBmhOuBJB-qec</string>
	<key>GCM_SENDER_ID</key>
	<string>384783753847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weather</string>
	<key>PROJECT_ID</key>
	<string>weather-9c856</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-9c856.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384783753847:ios:6c0b5e275e417199a89c72</string>
</dict>
</plist>